<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title" style="font-size: 40px; white-space: nowrap; font-weight: bold; margin-top: -100px;">{{ site.username }}</span>
        <br>
        <span class="site-description" style="font-size: 20px;font-weight: normal; font-family: 'Times New Roman'">{{ site.user_title }}</span>
      </h1>
      <div class="header-icons">
        {% if site.github_username %}
        <a aria-label="My Github" class="site-description"  style="font-size: 20px;font-weight: normal; font-family: 'Times New Roman'; target:'_blank'" href="https://github.com/LLMISP/LLMISP"><i class="icon fa fa-github-alt" aria-hidden="true"></i>https://github.com/LLMISP/LLMISP</a>
        {% endif %}
      </div>
      <div class="header-links">
        <!-- <a class="link" href="#about" data-scroll>About Me</a> -->
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
